<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 突破防盗链 -->
    <meta name="referrer" content="never">
	<title>豆瓣一刻</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet/less" href="./public/less/main.less">
    <!-- 使用less.js可以实时解析less文件 -->
    <script src="./public/libs/less.js"></script>
    <!-- 引入angularjs -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <!-- 业务逻辑 -->
    <script src='./scripts/controllers.js'></script>
    <script src="./scripts/app.js"></script>
    <script src='./scripts/directive.js'></script>
</head>
<body ng-app='Yike'>
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-controller='YikeCtrl' ng-class='{navs:true,collapse:collapsed}'>
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
                <!--遍历所有导航-->
				<dd ng-class="{active:$index==key}" ng-repeat='nav in navs' ng-click='toggle()'>
					<a href="{{nav.link}}" class="{{nav.icon}}">
						<span>{{nav.test}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class='{header:true,collapse:collapsed}'>
				<a href="javascript:;" class="menu icon-menu" ng-click='toggle()'></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div  ng-class='{body:true,collapse:collapsed}'>

                <!--刷新时会白屏添加一张加载图片-->
                <!--自定义指令：yikeLoading&#45;&#45;驼峰命名，作为属性，可以写成中划线-->
                <div yike-loading></div>
                <!-- 占位符，对应路由的视图会被加载到这里 -->
                <div ng-view></div>
			</div>
		</div>
	</div>
    <!-- 左侧导航交互，转换成angular的实现 -->
	<!--<script src="./public/libs/toggle.js"></script>-->
</body>
</html>